.header{
  background: papayawhip;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.logo{
  background: white;
  font-weight: 900;
  color: tomato;
  padding: 4px 10px;
  display: block;
  flex-direction: row;
}
ul {
  gap; 8px;
  margin; 0;
  display: flex;
  padding: 0px;
  list-style-type: none;
  gap: 7px;

  
}

a {
  text-decoration: none;
  padding: 8px;
  background-color: white; 
  
  
}